In [5]:
import pandas as pd
df = pd.read_csv("creditcard.csv")

In [6]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
df.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.175161e-15,3.384974e-16,-1.379537e-15,2.094852e-15,1.021879e-15,1.494498e-15,-5.620335e-16,1.149614e-16,-2.414189e-15,...,1.628620e-16,-3.576577e-16,2.618565e-16,4.473914e-15,5.109395e-16,1.686100e-15,-3.661401e-16,-1.227452e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [23]:
df["Class"].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [10]:
df["Class"].value_counts(normalize=True)*100

Class
0    99.827251
1     0.172749
Name: proportion, dtype: float64

In [11]:
df_fraud = df[df["Class"] == 1]
df_normal = df[df["Class"] == 0]

df_normal_sample = df_normal.sample(n=10000, random_state=42)

df_sample = pd.concat([df_fraud, df_normal_sample], axis=0).reset_index(drop=True)

df_sample["Class"].value_counts(normalize=True)*100

Class
0    95.310713
1     4.689287
Name: proportion, dtype: float64

In [12]:
from sklearn.preprocessing import StandardScaler

scaler= StandardScaler()

df_sample["Amount_Scaled"] = scaler.fit_transform(
    df_sample[["Amount"]]
)

df_sample = df_sample.drop(columns=["Amount"])

X = df_sample.drop(columns=["Class"])
y = df_sample["Class"]

In [13]:
print(X)

           Time        V1        V2        V3        V4        V5        V6  \
0         406.0 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
1         472.0 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
2        4462.0 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788
3        6986.0 -4.397974  1.358367 -2.592844  2.679787 -1.128131 -1.706536
4        7519.0  1.234235  3.019740 -4.304597  4.732795  3.624201 -1.357746
...         ...       ...       ...       ...       ...       ...       ...
10487  141415.0 -0.762961  1.897243  1.931378  4.191413  0.103570  1.367957
10488  150069.0 -0.299711  1.079933 -0.500521 -0.571127  1.362166 -0.241336
10489  160634.0  2.129101 -0.873931 -1.635981 -1.176035 -0.073736 -0.412121
10490   50297.0  1.127518  0.118124  0.339852  0.599886 -0.359735 -0.421149
10491  137736.0  0.082694  0.717641 -0.159022 -0.946556  0.892820 -0.207064

             V7        V8        V9  ...       V20       V21       V22  \
0     -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
1      0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477
2      0.562320 -0.399147 -0.238253  ... -0.430022 -0.294166 -0.932391
3     -3.496197 -0.248778 -0.247768  ... -0.171608  0.573574  0.176968
4      1.713445 -0.496358 -1.282858  ...  0.009061 -0.379068 -0.704181
...         ...       ...       ...  ...       ...       ...       ...
10487 -0.210296  0.799408 -1.949474  ...  0.293338 -0.217645 -0.639138
10488  1.061852 -0.055889  0.025168  ...  0.178838 -0.008621  0.287652
10489 -0.289237 -0.223462 -0.776604  ...  0.163332 -0.034599 -0.262403
10490 -0.161974  0.141529 -0.043080  ... -0.165153 -0.201777 -0.683207
10491  0.811579  0.070459 -0.065330  ... -0.066723 -0.293637 -0.746461

            V23       V24       V25       V26       V27       V28  \
0     -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276
1      1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764
2      0.172726 -0.087330 -0.156114 -0.542628  0.039566 -0.153029
3     -0.436207 -0.053502  0.252405 -0.657488 -0.827136  0.849573
4     -0.656805 -1.632653  1.488901  0.566797 -0.010016  0.146793
...         ...       ...       ...       ...       ...       ...
10487 -0.096265  0.417441  0.001403  0.194527  0.236362  0.106503
10488 -0.302456 -0.025240 -0.037041  0.588618  0.369017  0.266397
10489  0.091163 -1.095939 -0.098260 -0.387646 -0.046397 -0.065703
10490  0.175118  0.147933  0.035407  0.097054 -0.021608  0.018880
10491 -0.067607 -1.134573 -0.412745  0.191519  0.235516  0.073737

       Amount_Scaled
0          -0.394650
1           1.976514
2           0.680800
3          -0.130191
4          -0.390168
...              ...
10487      -0.391244
10488      -0.278154
10489      -0.067259
10490      -0.322977
10491      -0.386672

[10492 rows x 30 columns]

In [14]:
print(y)

0        1
1        1
2        1
3        1
4        1
        ..
10487    0
10488    0
10489    0
10490    0
10491    0
Name: Class, Length: 10492, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

In [24]:
y_test.value_counts(normalize=True)*100

Class
0    95.33111
1     4.66889
Name: proportion, dtype: float64

In [25]:
y_train.value_counts(normalize=True)*100

Class
0    95.305612
1     4.694388
Name: proportion, dtype: float64

In [18]:
from imblearn.over_sampling import SMOTE

print("SMOTE 적용 전\n", y_train.value_counts())

smote = SMOTE(random_state=42)

X_train_smote, y_train_smote = smote.fit_resample(
    X_train,
    y_train
)

print("SMOTE 적용 후\n", y_train_smote.value_counts())

SMOTE 적용 전
 Class
0    7999
1     394
Name: count, dtype: int64
SMOTE 적용 후
 Class
0    7999
1    7999
Name: count, dtype: int64

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, average_precision_score

model = LogisticRegression(max_iter=1000, random_state=42)
model.fit(X_train_smote, y_train_smote)

y_pred = model.predict(X_test)
y_proba = model.predict_proba(X_test)[:, 1]

print(y_pred)
print(y_proba)

print(classification_report(y_test, y_pred, digits=4))

pr_auc = average_precision_score(y_test, y_proba)
print(pr_auc)

[0 0 0 ... 0 0 0]
[1.23347333e-01 7.26815827e-02 5.26872683e-02 ... 3.01662233e-04
 5.86249034e-04 2.76152804e-07]
              precision    recall  f1-score   support

           0     0.9970    0.9880    0.9925      2001
           1     0.7931    0.9388    0.8598        98

    accuracy                         0.9857      2099
   macro avg     0.8950    0.9634    0.9261      2099
weighted avg     0.9875    0.9857    0.9863      2099

0.9538991406705979

c:\Users\gha52\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [20]:
import numpy as np

threshold = 0.6
y_pred_thresh = (y_proba >= threshold).astype(int)

In [21]:
print(classification_report(y_test, y_pred_thresh, digits=4))

pr_auc = average_precision_score(y_test, y_proba)
print(pr_auc)

              precision    recall  f1-score   support

           0     0.9965    0.9930    0.9947      2001
           1     0.8667    0.9286    0.8966        98

    accuracy                         0.9900      2099
   macro avg     0.9316    0.9608    0.9456      2099
weighted avg     0.9904    0.9900    0.9902      2099

0.9538991406705979